<div class="container">
  <footer class="footer">
    <small>
      Copiright &copy; <a href="https://alpha-blog-final.herokuapp.com/">Alpha Blog online</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>